server:
  port: 8081

spring:
  modulith:
    detection-strategy: explicitly-annotated
    events:
      republish-outstanding-events-on-restart: true
      externalization:
        enabled: true
  messages:
    basename: messages
  # swagger-ui custom path
#  swagger-ui:
#    path: swagger-ui.html

  application:
    name: zero-ddd-tenant
  cloud:
    nacos:
      discovery:
        # 服务注册地址
        server-addr: 127.0.0.1:8848
      config:
        enabled: false
  datasource:
#    url: jdbc:h2:mem:mydb
#    username: sa
#    password:
#    driverClassName: org.h2.Driver
#    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:5432/zero-tenant
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource

  jpa:
    show-sql: true
#    database-platform: org.hibernate.dialect.H2Dialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        multiTenancy: true
#        tenant_identifier_resolver: com.zjj.tenant.column.component.TenantIdentifierResolver
        format_sql: true
    database: PostgreSQL
    defer-datasource-initialization: false
  h2:
    console:
      enabled: true
  liquibase:
    enabled: true
#    # 如下配置是被spring.datasource赋值的，所以可以不配置
#    #    url: jdbc:mysql://localhost:3306/test_db_liquibase?useSSL=false&autoReconnect=true&characterEncoding=utf8
#    #    user: root
#    #    password: bfXa4Pt2lUUScy8jakXf
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  graphql:
    graphiql:
      enabled: true
      path: /tenant/graphiql
    path: /tenant/graphql
  redis:
    redisson:
      file: classpath:redisson.yml

management:
  endpoints:
    web:
      exposure:
        include: startup


logging:
  level:
    org:
      springframework:
        security:
          web:
            FilterChainProxy=DEBUG:

security:
  context:
    enabled-access: false
#  username-login:
#    enabled: true
#    login-path: /tenant/login/username
#  logout-path: /tenant/logout